<p>
  dashboard works!
</p>

<ul>
  <li><a [routerLink]="['/booklist']">Booklist</a></li>
  <li><a href="javascript:;" (click)="authService.logout()">Logout</a></li>
</ul>

<!--
<ul *ngFor="let book of books | async">
  <li>
    <strong>{{ book.title}}</strong>
    <br>
    {{book.content}}
  </li>
</ul>


<form [formGroup]="bookForm" (ngSubmit)="bookForm.valid && submitBookForm()" novalidate autocomplete="off">
  <div>
    <label>Title</label>
    <input placeholder="title" formControlName="title">
  </div>
  <div>
    <label>Author</label>
    <input placeholder="author" formControlName="author">
  </div>
  <button type="submit">Add</button>
</form>
 -->
